@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../assets/fonts/montserrat-v25-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../assets/fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../assets/fonts/Cairo-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../assets/fonts/Cairo-Light.woff') format('woff');
}

.print-source {
  display: none;
}

body > .print-source {
  display: block;
}

@media print {
  .print-source {
    display: block;
    page-break-before: auto;
    size: 5mm
  }

  
}